[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_morandi_ui
X-Python-2-Compatible=false
Name=Krita UI Redesign
Comment=An in-depth plugin to overhaul Krita's UI
