[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_morandi_ui
X-Python-2-Compatible=false
Name=Krita Morandi UI
Comment=一款深度美化 Krita 界面的莫兰迪 UI 扁平化重绘插件
X-Krita-Manual=Manual.html
